<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://Servicios/">
   <soapenv:Header/>
   <soapenv:Body>
      <ser:WsEstadoCuentaAlerta>
         <Documento>${body.get("documento")}</Documento>
         <TipoDocumento>${body.get("tipoDocumento")}</TipoDocumento>
         <Usuario>${body.get("usuario")}</Usuario>
      </ser:WsEstadoCuentaAlerta>
   </soapenv:Body>
</soapenv:Envelope>