<?xml version="1.0" encoding="utf-8"?>
<soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <soap12:Body>
    <CalcularPolizaCortoPlazo xmlns="http://www.mundialseguros.com.co/">
      <datosVehiculo>
        <Clase>${body.get("clase")}</Clase>
        <Cilindraje>${body.get("cilindraje")}</Cilindraje>
        <Capacidad>${body.get("capacidad")}</Capacidad>
        <Modelo>${body.get("modelo")}</Modelo>
        <Pasajeros>${body.get("pasajeros")}</Pasajeros>
        <FechaInicioVigencia>${body.get("fechaInicio")}</FechaInicioVigencia>
        <FechaFinVigencia>${body.get("fechaFin")}</FechaFinVigencia>
        <CodigoSucursal>${body.get("codSuc")}</CodigoSucursal>
        <CodigoAgente>${body.get("codAgente")}</CodigoAgente>
        <CodigoPuntoVenta>${body.get("codPtoVta")}</CodigoPuntoVenta>
      </datosVehiculo>
    </CalcularPolizaCortoPlazo>
  </soap12:Body>
</soap12:Envelope>