<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <ConfirmarExpedicionPoliza xmlns="http://www.mundialseguros.com.co/">
      <nroFormulario>${body.get("nroFormulario")}</nroFormulario>
      <codGrupoEndo>${body.get("codGrupoEndo")}</codGrupoEndo>
    </ConfirmarExpedicionPoliza>
  </soap:Body>
</soap:Envelope>