<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <ConsultarConvenioAP xmlns="http://www.mundialseguros.com.co/">
      <codSuc>${body.get("codSuc")}</codSuc>
      <codAgente>${body.get("codAgente")}</codAgente>
      <codPtoVta>${body.get("codPtoVta")}</codPtoVta>
    </ConsultarConvenioAP>
  </soap:Body>
</soap:Envelope>