<?xml version="1.0" encoding="utf-8"?>
<soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <soap12:Body>
    <InsertarMaquinas xmlns="http://policia.gov.co/webservice">
      <PUSUARIO>${body.get("pUsuario")}</PUSUARIO>
      <PTOKEN>${body.get("pToken")}</PTOKEN>
      <PIDRUNT>${body.get("pIdRunt")}</PIDRUNT>
      <PSERIE>${body.get("pSerie")}</PSERIE>
      <PCODIMARCA>${body.get("pCodiMarca")}</PCODIMARCA>
      <PCODILINEA>${body.get("pCodiLinea")}</PCODILINEA>
      <PMODELO>${body.get("pModelo")}</PMODELO>
      <PTIPOMAQUINA>${body.get("pTipoMaquina")}</PTIPOMAQUINA>
      <PIDUNIDADVIGENTE>${body.get("pIdUnidadVigente")}</PIDUNIDADVIGENTE>
      <PMOTOR>${body.get("pMotor")}</PMOTOR>
      <PCHASIS>${body.get("pChasis")}</PCHASIS>
      <PTIPOUNIDADMAQUINA>${body.get("pTipoUnidadMaquina")}</PTIPOUNIDADMAQUINA>
    </InsertarMaquinas>
  </soap12:Body>
</soap12:Envelope>